<IfModule mod_rewrite.c>
    RewriteEngine On

    # منع التصفح المباشر للمجلدات
    Options -Indexes

    # التأكد من أن الملف أو المجلد غير موجود فعلياً قبل التحويل
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # توجيه كل الطلبات إلى index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
